$gray1: #EBEDED;
$gray2: #E2E2E2;
$gray3: #DEDFDF;
$gray4: #CACACA;
$gray5: #B9B9B9;
$gray6: #95989A;

$darkBlue:#0d213b;
$darkBlue1:#2F4F90;
$lightBlue2:#3879AB;
$lightBlue1:#82BDEA;
$red:#EC2C42;
$lightRed:#F0838F;
$white:#fff;

$warning1: #fbcba3;
$warning2: #e78554;

/* Basic ELEMENTS*/
button{
  cursor: pointer;
  outline: none;
  font-family: 'Catamaran', sans-serif;
  appearance: none;
  border: none;
  background-color: transparent;
  border-radius: 8px; 
}


*{
  box-sizing: border-box;
}

body{
  background-color: $gray1;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  position: relative;
  padding-bottom: 40px;
}

header{
	width: 100%;
	text-align: center;
	display: inline-block;
	h1{
  	background-image: url(images/DoIt_logo.svg);
  	background-repeat: no-repeat;
  	background-position: center center;
  	background-size: 260px;
		font-size: 58px;
		z-index: 2;
		display: block;
		height: 250px;
		position: relative;
		text-indent: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: visible;
	}
	
	&::before{
		display: block;
		content:'';
		height: 0;
		padding: 0;
		padding-top: 90%;
		width: 90%;
		margin: 0;
		left: 5%;
		top:-5%;
		background-color: $white;
		opacity: .8;
		border-radius: 100%;
		position: absolute;
		z-index: 1;
		filter: blur(20px);
	}
}

.todo_wrapper{
  width: 88%;
  max-width: 585px;
  margin: 0 auto;
  z-index: 10;
  position: relative;
}


.todo_wrapper{

  
  &.loaded{
    .load_wrapper{
      animation: open 1s .5s forwards ease-out;
    }
  }
  
  &.loading{
    
  }
  
  .load_wrapper{
      position: fixed;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 1;
      z-index: 150;
      width: 100%;
      height: 100%;
      background-image: url(images/DoIt_logo_white.svg);
    	background-repeat: no-repeat;
    	background-position: center center;
    	background-size: 110%;
      background-color: $red;
       
    }
  
}

form[name="new_task"]{
  margin-bottom: 25px;
}

input{
  outline-color: $lightBlue1;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  appearance: none;
  transition: all .5s ease;
}

input[type="text"],input[type="date"]{
  background-color:$white;
  height: 40px;
  width: 100%;
  border:1px solid $gray4;
  margin: 0 0 6px 0;
  font-size: 20px;
  color: $gray6;
  padding: 0;
  text-indent: 11px;
  line-height: 40px;
  &::placeholder{
    color: $gray2;
  }
}

input[type="date"]{
  width: 60%;
  margin-right: 7px;
  text-indent: 5px;
  display: inline-block;
}

input[type="submit"]{
	display: inline-block;
  height: 40px;   
  width: calc(40% - 7px);
  background-color: $lightBlue2;
  background: linear-gradient(lighten($lightBlue1,10%) 1%,$lightBlue1 40%,darken($lightBlue1,10%) 100%);
  border: 1px solid $lightBlue1;
  border: none;
  color: $gray1;
  font-size: 20px;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 41px;
  position: relative;
  top:2px;
  border-radius: 8px;
}

.error{
	input[type="text"]{
		background-color: $warning1;
		border: 2px solid $warning2;
		transition: all .5s ease;
		outline-color: $warning1;
		animation:jelly .5s linear;
	}
	
}

ul{
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: $white;
  box-shadow: 0px 1px 3px rgba(0,0,0,.5);
  overflow: hidden;
}

h2{
  background-color: $darkBlue;
  width: 100%;
  height: 36px;
  color: $white;
  font-size: 16px;
  text-align: left;
  padding: 0 0 0 11px;
  line-height: 36px;
  vertical-align: middle;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
}

li{
  list-style:none;
  margin:0 0 0 0;
  width: 100%;
  position: relative;
  opacity: 0;
  &.overdue{
    .task_wrapper::before{
      z-index: 35;
      width: 3px;
      position: absolute;
      background-color: $red;
      border-top:1px solid $lightRed;
      overflow: visible;
    }
    &.header{
    }
  }
}

.task_wrapper{
  position: relative;
  width: calc(100% - 24px);
  padding:12px 0 0 0;
  transition: transform .25s ease-out;
  margin:0 0 0px 12px;
  border-top: 1px solid $gray4;
  min-height: 67px;
  &::before{
	content: '';
	transition: all .25s ease;
	position: absolute;
	left:-12px;
	top:0;
	width: 0;
	border-top:1px solid $white;
	height: 100%;  
  }
}


li.header{
  min-height: 103px;
  
  .task_wrapper{
    border-top: none;
    .drop_down{
      top:0;
      height: 100%;
      .toggle_drop{
        border: none;
        border-top:none;
      }
    }
  }
  
}//li.header

li.edit{
  background-color: $gray1;
  margin:0;
  padding-top:0;
  height: 143px;
  border-bottom: 1px solid $gray4;
  border-top: 1px solid $gray4;
  width:100%;
  transition: all .5s ease-out;
  
  &.header{
    height: 188px;
  }
  
  .task_wrapper{
    width: calc(100% - 24px);
    margin:0 0 0px 12px;
    height: auto;
    border-top: none;
  }
  
  form{	  
    margin: 0 0 0 50px;
    width: calc(88% - 50px);
    position: relative;
    animation: slideDown .5s forwards ease-out;
    transform-origin: 50% 0%;
    
    input{
      padding-top: 3px;
      line-height: 14px;
      font-size: 14px;
      height: 30px;
      top:-6px;
      position: relative;
      opacity: 0;
      animation: fadeIn .5s .25s forwards ease-out;
    }
    button{
	    width: 52px;
	    position: relative;
	    color: $gray5;
	    left: calc(100% - 52px);
	    bottom: 10px;
	    opacity: 0;
      animation: fadeIn .5s .25s forwards ease-out;
    }
  }
  
  .drop_down{
    display: none;
  }
  
  & + li .task_wrapper{
    border-top: none; 
  }
  
}//li.edit



input[type="checkbox"]{
	position: absolute;
	left: -9999px;
}

[type="checkbox"] + label{
	display: inline-block;
	position: relative;
	line-height: 34px;
	padding-left: 50px;
	padding-top: 5px;
	z-index: 9;
	width:auto;
	max-width: 90%;
	font-size: 14px;
	color: $gray6;
}

[type="checkbox"] + label:before{
	content: '';
	border: 1px solid $gray4;
	position: absolute;
	top: 5px;
	left: 0;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	z-index: 15;
	background-color: #fff;
}

[type="checkbox"] + label:after{
	content: '';
	position: absolute;
	text-indent: 0;
	z-index: 20;
}

[type="checkbox"]:not(:checked) + label:after{
	position: absolute;
	transform: rotate(20deg);
	width: 0px;
	height: 0px;
	top: 19px;
	left: 15px;
	border-left: 0px solid #2bce51;
	border-bottom:0px solid #2bce51;
	transition: all .25s cubic-bezier(.09,-.75,.95,1);
}


[type="checkbox"]:checked + label:after{
	width: 24px;
	height: 9px;
	border-left: 3px solid $lightBlue2;
	border-bottom:3px solid $lightBlue2;
	top: 7px;
	left: 7px;
	transform: rotate(-48deg);
	transition: all .35s cubic-bezier(.09,1.47,.95,1.25);
	stroke-linecap: round;
}



.drop_down{
  position: absolute;
  top:-1px;
  right: -132px;
  height: calc(100% + 1px) ;
  width: 120px;
  background-color:$gray1;
  transition: transform .25s ease-in;
  border-top: 1px solid $gray4;  
  .toggle_drop{
    position: absolute;
    background-color: $white;
    width: 25px;
    top:0;
    left: -25px;
    border: none;
    height: 100%;
    outline: none;
    cursor: pointer;
    transition: background-color .25s ease;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0;
    &::before{
      content: '';
      width: 4px;
      height: 36px;
      border-left: 4px $gray2 dotted;
      background-color: transparent;
    }
  }
  
  .menu{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;  
  }
  
}

.menuOpen{
  .drop_down{
    z-index: 50;
    transform: translateX(-120px);

    .toggle_drop{
      border-top: 1px solid $gray4;
      height: calc(100% + 1px);
      left: -50px;
      width: 50px;
      top:-1px;
    }
    
    .menu{
      border-left:1px solid $gray3;
      .btn{
        animation: jelly .5s .1s linear;
      }
    }
  }
  
  &.header{
     .drop_down{
        .toggle_drop{
          border-top: none;
           height: 100%;
        }
      }
    }
  
}//menuOpen

.btn{
  height: 26px;
  background-color: $darkBlue;
  background: linear-gradient($darkBlue1 1%,$darkBlue 40%,$darkBlue 100%);
  border: none;
  color: $gray1;
  font-size: 12px;
  margin: 0;
  padding: 0 8px;
  //box-shadow: 0px 2px 2px rgba(13,33,59,.5);
  transform-origin: 100% 50%;
  
  &.delete{
    background-color: $red;
    background: linear-gradient( darken($lightRed, 5%) 1% ,$red 40%,$red 100%);
  }
  
}

.toggle{
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  background-color: $darkBlue;
  bottom: 0;
  height: 40px;
  z-index: 90;
  & ~ .curtain{
    z-index: 89;
    bottom: 40px;
    right:0;
    opacity:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    transition: opacity .25s ease-out;
  }
  
  .foot_menu{
    z-index: 95;
    background-color: $gray1;
    width: 85%;
    left:7.5%;
    margin: 0 auto;
    bottom: -137px;
    opacity: 0;
    position: absolute;
    transition-property: transform, opacity;
    transition-duration: .25s;
    transition-timing-function: ease-in;
    
    &::before{
      content:'';
      width: 12px;
      height: 12px;
      position: absolute;
      bottom: -6px;
      transform: rotate(45deg);
      background-color: $gray1;
    }
    
    .foot_menu_header{
      background-color: $lightBlue2;
      height: 25px;
      line-height: 25px;
      margin: 0 0 10px 0;
      color: $white;
      p{
        text-indent: 10px;
        color: $white;
        margin: 0;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 1px;
      }
    }
    
    &.toggle_menu{
      &::before{left: 12px;}
     .foot_menu_header{
        background-color: $lightBlue2;
      }
    }
    
    &.clear_menu{
        text-align: center;
        padding-bottom: 20px;
        &::before{right: 12px;}
       .foot_menu_header{
	       text-align: right;
         margin-bottom: 20px;
         background-color: $red;
         p{
           margin-right: 10px;
           cursor: pointer;
         }
        }
        
        button.clear{
          background-color: $red;
          background: linear-gradient( darken($lightRed, 5%) 1% ,$red 40%,$red 100%);
          border: none;
          margin: 0;
          color: $white;
          padding: 10px;
          font-size: 12px;
        } 
    }
    
    label{
      color: $darkBlue;
      width: 85%;
      margin: 0 auto;
      display: block;
      padding: 0 0 0 20px;
      cursor: pointer;
      border-top:1px solid $gray3;
      &:nth-of-type(1){
        border-top:none;
      }
      &:before{
        width: 10px;
        height: 10px;
        top:8px;
      }
      &:after{
        left:2px;
        top:6px;
        width: 12px;
        height: 4px;
      }
    }
    
  }//foot_menu
  
}//toggle


.toggle_footer{
  width: 100%;
  height: 40px;
  line-height: 40px;
  button{
    display: inline-block;
    color: $white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    line-height: 40px;
    height: 40px;
    width: 50px;
    border: none;
    background-color: transparent;
    &.toggle_filter{
      float: left;
      margin-left: 10px;
    }
    &.toggle_clear{
      float: right;
      margin-right: 10px;
      position: relative;
      &::before{
        content: '';
        display: block;
        width: 30px;
        height: 4px;
        top:0;
        left:10px;
        border-top: 4px dotted $white;
      }
    }
  }
}

/* ShowMenu */

.toggle.showMenu{
  .toggle_menu{
    opacity: 1;
    transform: translateY(-178px);
    label{
      opacity: 0;
      animation: slideUp .25s .15s forwards ease-out;
      &:nth-of-type(2){
        animation-delay: .25s;
      }
       &:nth-of-type(3){
        animation-delay: .35s;
      }
    }
  }
  
  & ~ .curtain{
    opacity: 1;
    position:fixed;
    top:0;
    left: 0;
  }
}

/* ShowClear */
.toggle.showClear{
  .clear_menu{
    opacity: 1;
    transform: translateY(-178px);
    &.clear_menu{
      button.clear{
        transform-origin: 50% 100%;
        animation: jellyUp .5s .1s linear;
      }
    }
  }
  
  & ~ .curtain{
    opacity: 1;
    position:fixed;
    top:0;
    left: 0;
  }
}

label.flip:before{
  animation: bulge .5s linear;
}

li{
  animation: slideUp .5s forwards ease-out;
  &:nth-of-type(2){
    animation-delay: .2s;
  }
  &:nth-of-type(3){
    animation-delay: .4s;
  }
  &:nth-of-type(4){
    animation-delay: .6s;
  }
  &:nth-of-type(5){
    animation-delay: .8s;
  }
  &:nth-of-type(6){
    animation-delay: .10s;
  }
}




@keyframes bulge{
  0%{
    transform: scale(1);
  }
  
  20%{
    transform: scale(.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  70%{
    transform: scale(.9);
  }
  
  85%{
    transform: scale(1.1);
  }
  
  100%{
    transform: scale(1);
  }

}


@keyframes jelly{
  0%{
    transform: scaleX(.8);
  }
  
  14%{
    transform: scaleX(1.1);
  }
  
  28%{
    transform: scaleX(.9);
  }
  
  42%{
    transform: scaleX(1.05);
  }
  56%{
    transform: scaleX(.95);
  }
  70%{
    transform: scaleX(1.03);
  }
  84%{
    transform: scaleX(.98);
  }
  100%{
    transform: scaleX(1);
  }
}

@keyframes jellyUp{
  0%{
    transform: scaleY(.6);
  }
  
  14%{
    transform: scaleY(1.3);
  }
  
  28%{
    transform: scaleY(.8);
  }
  
  42%{
    transform: scaleY(1.1);
  }
  56%{
    transform: scaleY(.9);
  }
  70%{
    transform: scaleY(1.1);
  }
  84%{
    transform: scaleY(.95);
  }
  100%{
    transform: scaleY(1);
  }
}


@keyframes slideUp{
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
  
}

@keyframes slideDown{
  0%{
    opacity: 0;
    transform: scaleY(0);
  }
  100%{
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes open{
  0%{
    opacity: 1;
  }
  99%{
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  100%{
    width: 0;
    height: 0;
  }
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after { clear: both; }
.cf { *zoom: 1; }
