/* Basic ELEMENTS*/
button {
  cursor: pointer;
  outline: none;
  font-family: 'Catamaran', sans-serif;
  appearance: none;
  border: none;
  background-color: transparent;
  border-radius: 8px; }

* {
  box-sizing: border-box; }

body {
  background-color: #EBEDED;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  position: relative;
  padding-bottom: 40px;
  width: 1px;
  min-width: 100%;
  *width: 100%; }

header {
  width: 100%;
  text-align: center;
  display: inline-block; }
  header h1 {
    background-image: url(images/DoIt_logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px;
    font-size: 58px;
    z-index: 2;
    display: block;
    height: 200px;
    position: relative;
    text-indent: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: visible; }
  header::before {
    display: block;
    content: '';
    height: 0;
    padding: 0;
    padding-top: 90%;
    width: 90%;
    margin: 0;
    left: 5%;
    top: -5%;
    background-color: #fff;
    opacity: .8;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    filter: blur(20px); }

.todo_wrapper {
  width: 88%;
  max-width: 585px;
  margin: 0 auto;
  z-index: 10;
  position: relative; }

.todo_wrapper.loaded .load_wrapper {
  animation: open 1s .5s forwards ease-out; }

.todo_wrapper .load_wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 150;
  width: 100%;
  height: 100%;
  background-image: url(images/DoIt_logo_white.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 110%;
  background-color: #EC2C42; }

form[name="new_task"] {
  margin-bottom: 25px; }

input {
  outline-color: #82BDEA;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  appearance: none;
  transition: all .5s ease; }

input[type="text"], input[type="date"] {
  background-color: #fff;
  height: 40px;
  width: 100%;
  border: 1px solid #CACACA;
  margin: 0 0 6px 0;
  font-size: 20px;
  color: #95989A;
  padding: 0;
  text-indent: 11px;
  line-height: 40px; }
  input[type="text"]::placeholder, input[type="date"]::placeholder {
    color: #E2E2E2; }

input[type="date"] {
  width: 60%;
  margin-right: 7px;
  text-indent: 5px;
  display: inline-block; }

input[type="submit"] {
  display: inline-block;
  height: 40px;
  width: calc(40% - 7px);
  background-color: #3879AB;
  background: linear-gradient(#aed4f1 1%, #82BDEA 40%, #56a6e3 100%);
  border: 1px solid #82BDEA;
  border: none;
  color: #EBEDED;
  font-size: 20px;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 41px;
  position: relative;
  top: 2px;
  border-radius: 8px; }

.error input[type="text"] {
  background-color: #fbcba3;
  border: 2px solid #e78554;
  transition: all .5s ease;
  outline-color: #fbcba3;
  animation: jelly .5s linear; }

ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 0 25px 0;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden; }

h2 {
  background-color: #0d213b;
  width: 100%;
  height: 36px;
  color: #fff;
  font-size: 16px;
  text-align: left;
  padding: 0 0 0 11px;
  line-height: 36px;
  vertical-align: middle;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative; }

li {
  list-style: none;
  margin: 0 0 0 0;
  width: 100%;
  position: relative;
  opacity: 0; }
  li.overdue .task_wrapper::before {
    z-index: 35;
    width: 3px;
    position: absolute;
    background-color: #EC2C42;
    border-top: 1px solid #F0838F;
    overflow: visible; }

.task_wrapper {
  position: relative;
  width: calc(100% - 24px);
  padding: 12px 0 0 0;
  transition: transform .25s ease-out;
  margin: 0 0 0px 12px;
  border-top: 1px solid #CACACA;
  min-height: 67px; }
  .task_wrapper::before {
    content: '';
    transition: all .25s ease;
    position: absolute;
    left: -12px;
    top: 0;
    width: 0;
    border-top: 1px solid #fff;
    height: 100%; }

li.header {
  min-height: 103px; }
  li.header .task_wrapper {
    border-top: none; }
    li.header .task_wrapper .drop_down {
      top: 0;
      height: 100%; }
      li.header .task_wrapper .drop_down .toggle_drop {
        border: none;
        border-top: none; }

li.edit {
  background-color: #EBEDED;
  margin: 0;
  padding-top: 0;
  height: 143px;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  width: 100%;
  transition: all .5s ease-out; }
  li.edit.header {
    height: 188px; }
  li.edit .task_wrapper {
    width: calc(100% - 24px);
    margin: 0 0 0px 12px;
    height: auto;
    border-top: none; }
  li.edit form {
    margin: 0 0 0 50px;
    width: calc(88% - 50px);
    position: relative;
    animation: slideDown .5s forwards ease-out;
    transform-origin: 50% 0%; }
    li.edit form input {
      padding-top: 3px;
      line-height: 14px;
      font-size: 14px;
      height: 30px;
      top: -6px;
      position: relative;
      opacity: 0;
      animation: fadeIn .5s .25s forwards ease-out; }
    li.edit form button {
      width: 52px;
      position: relative;
      color: #B9B9B9;
      left: calc(100% - 52px);
      bottom: 10px;
      opacity: 0;
      animation: fadeIn .5s .25s forwards ease-out; }
  li.edit .drop_down {
    display: none; }
  li.edit + li .task_wrapper {
    border-top: none; }

input[type="checkbox"] {
  position: absolute;
  left: -9999px; }

[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  line-height: 34px;
  padding-left: 50px;
  padding-top: 5px;
  z-index: 9;
  width: auto;
  max-width: 90%;
  font-size: 14px;
  color: #95989A; }

[type="checkbox"] + label:before {
  content: '';
  border: 1px solid #CACACA;
  position: absolute;
  top: 5px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 15;
  background-color: #fff; }

[type="checkbox"] + label:after {
  content: '';
  position: absolute;
  text-indent: 0;
  z-index: 20; }

[type="checkbox"]:not(:checked) + label:after {
  position: absolute;
  transform: rotate(20deg);
  width: 0px;
  height: 0px;
  top: 19px;
  left: 15px;
  border-left: 0px solid #2bce51;
  border-bottom: 0px solid #2bce51;
  transition: all 0.25s cubic-bezier(0.09, -0.75, 0.95, 1); }

[type="checkbox"]:checked + label:after {
  width: 24px;
  height: 9px;
  border-left: 3px solid #3879AB;
  border-bottom: 3px solid #3879AB;
  top: 7px;
  left: 7px;
  transform: rotate(-48deg);
  transition: all 0.35s cubic-bezier(0.09, 1.47, 0.95, 1.25);
  stroke-linecap: round; }

.drop_down {
  position: absolute;
  top: -1px;
  right: -132px;
  height: calc(100% + 1px);
  width: 120px;
  background-color: #EBEDED;
  transition: transform .25s ease-in;
  border-top: 1px solid #CACACA; }
  .drop_down .toggle_drop {
    position: absolute;
    background-color: #fff;
    width: 25px;
    top: 0;
    left: -25px;
    border: none;
    height: 100%;
    outline: none;
    cursor: pointer;
    transition: background-color .25s ease;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0; }
    .drop_down .toggle_drop::before {
      content: '';
      width: 4px;
      height: 36px;
      border-left: 4px #E2E2E2 dotted;
      background-color: transparent; }
  .drop_down .menu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }

.menuOpen .drop_down {
  z-index: 50;
  transform: translateX(-120px); }
  .menuOpen .drop_down .toggle_drop {
    border-top: 1px solid #CACACA;
    height: calc(100% + 1px);
    left: -50px;
    width: 50px;
    top: -1px; }
  .menuOpen .drop_down .menu {
    border-left: 1px solid #DEDFDF; }
    .menuOpen .drop_down .menu .btn {
      animation: jelly .5s .1s linear; }

.menuOpen.header .drop_down .toggle_drop {
  border-top: none;
  height: 100%; }

.btn {
  height: 26px;
  background-color: #0d213b;
  background: linear-gradient(#2F4F90 1%, #0d213b 40%, #0d213b 100%);
  border: none;
  color: #EBEDED;
  font-size: 12px;
  margin: 0;
  padding: 0 8px;
  transform-origin: 100% 50%; }
  .btn.delete {
    background-color: #EC2C42;
    background: linear-gradient(#ed6c7a 1%, #EC2C42 40%, #EC2C42 100%); }

.toggle {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #0d213b;
  bottom: 0;
  height: 40px;
  z-index: 90; }
  .toggle ~ .curtain {
    z-index: 89;
    bottom: 40px;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity .25s ease-out; }
  .toggle .foot_menu {
    z-index: 95;
    background-color: #EBEDED;
    width: 85%;
    left: 7.5%;
    margin: 0 auto;
    bottom: -137px;
    opacity: 0;
    position: absolute;
    transition-property: transform, opacity;
    transition-duration: .25s;
    transition-timing-function: ease-in; }
    .toggle .foot_menu::before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      bottom: -6px;
      transform: rotate(45deg);
      background-color: #EBEDED; }
    .toggle .foot_menu .foot_menu_header {
      background-color: #3879AB;
      height: 25px;
      line-height: 25px;
      margin: 0 0 10px 0;
      color: #fff; }
      .toggle .foot_menu .foot_menu_header p {
        text-indent: 10px;
        color: #fff;
        margin: 0;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 1px; }
    .toggle .foot_menu.toggle_menu::before {
      left: 12px; }
    .toggle .foot_menu.toggle_menu .foot_menu_header {
      background-color: #3879AB; }
    .toggle .foot_menu.clear_menu {
      text-align: center;
      padding-bottom: 20px; }
      .toggle .foot_menu.clear_menu::before {
        right: 12px; }
      .toggle .foot_menu.clear_menu .foot_menu_header {
        text-align: right;
        margin-bottom: 20px;
        background-color: #EC2C42; }
        .toggle .foot_menu.clear_menu .foot_menu_header p {
          margin-right: 10px;
          cursor: pointer; }
      .toggle .foot_menu.clear_menu button.clear {
        background-color: #EC2C42;
        background: linear-gradient(#ed6c7a 1%, #EC2C42 40%, #EC2C42 100%);
        border: none;
        margin: 0;
        color: #fff;
        padding: 10px;
        font-size: 12px; }
    .toggle .foot_menu label {
      color: #0d213b;
      width: 85%;
      margin: 0 auto;
      display: block;
      padding: 0 0 0 20px;
      cursor: pointer;
      border-top: 1px solid #DEDFDF; }
      .toggle .foot_menu label:nth-of-type(1) {
        border-top: none; }
      .toggle .foot_menu label:before {
        width: 10px;
        height: 10px;
        top: 8px; }
      .toggle .foot_menu label:after {
        left: 2px;
        top: 6px;
        width: 12px;
        height: 4px; }

.toggle_footer {
  width: 100%;
  height: 40px;
  line-height: 40px; }
  .toggle_footer button {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    line-height: 40px;
    height: 40px;
    width: 50px;
    border: none;
    background-color: transparent; }
    .toggle_footer button.toggle_filter {
      float: left;
      margin-left: 10px; }
    .toggle_footer button.toggle_clear {
      float: right;
      margin-right: 10px;
      position: relative; }
      .toggle_footer button.toggle_clear::before {
        content: '';
        display: block;
        width: 30px;
        height: 4px;
        top: 0;
        left: 10px;
        border-top: 4px dotted #fff; }

/* ShowMenu */
.toggle.showMenu .toggle_menu {
  opacity: 1;
  transform: translateY(-178px); }
  .toggle.showMenu .toggle_menu label {
    opacity: 0;
    animation: slideUp .25s .15s forwards ease-out; }
    .toggle.showMenu .toggle_menu label:nth-of-type(2) {
      animation-delay: .25s; }
    .toggle.showMenu .toggle_menu label:nth-of-type(3) {
      animation-delay: .35s; }

.toggle.showMenu ~ .curtain {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0; }

/* ShowClear */
.toggle.showClear .clear_menu {
  opacity: 1;
  transform: translateY(-178px); }
  .toggle.showClear .clear_menu.clear_menu button.clear {
    transform-origin: 50% 100%;
    animation: jellyUp .5s .1s linear; }

.toggle.showClear ~ .curtain {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0; }

label.flip:before {
  animation: bulge .5s linear; }

li {
  animation: slideUp .5s forwards ease-out; }
  li:nth-of-type(2) {
    animation-delay: .2s; }
  li:nth-of-type(3) {
    animation-delay: .4s; }
  li:nth-of-type(4) {
    animation-delay: .6s; }
  li:nth-of-type(5) {
    animation-delay: .8s; }
  li:nth-of-type(6) {
    animation-delay: .10s; }

@keyframes bulge {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(0.8); }
  50% {
    transform: scale(1.2); }
  70% {
    transform: scale(0.9); }
  85% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes jelly {
  0% {
    transform: scaleX(0.8); }
  14% {
    transform: scaleX(1.1); }
  28% {
    transform: scaleX(0.9); }
  42% {
    transform: scaleX(1.05); }
  56% {
    transform: scaleX(0.95); }
  70% {
    transform: scaleX(1.03); }
  84% {
    transform: scaleX(0.98); }
  100% {
    transform: scaleX(1); } }

@keyframes jellyUp {
  0% {
    transform: scaleY(0.6); }
  14% {
    transform: scaleY(1.3); }
  28% {
    transform: scaleY(0.8); }
  42% {
    transform: scaleY(1.1); }
  56% {
    transform: scaleY(0.9); }
  70% {
    transform: scaleY(1.1); }
  84% {
    transform: scaleY(0.95); }
  100% {
    transform: scaleY(1); } }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: scaleY(0); }
  100% {
    opacity: 1;
    transform: scaleY(1); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes open {
  0% {
    opacity: 1; }
  99% {
    opacity: 0;
    width: 100%;
    height: 100%; }
  100% {
    opacity: 0;
    width: 0;
    height: 0; } }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }
