* {
  box-sizing: border-box; }

body {
  background-color: #EBEDED;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  position: relative;
  padding-bottom: 40px; }

.todo_wrapper {
  width: 88%;
  margin: 0 auto; }

form[name="new_task"] {
  margin-bottom: 25px; }

input {
  outline-color: #82BDEA;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400; }

input[type="text"], input[type="date"] {
  background-color: #fff;
  height: 40px;
  width: 100%;
  border: 1px solid #CACACA;
  margin: 0 0 7px 0;
  font-size: 20px;
  color: #95989A;
  padding: 0;
  text-indent: 11px; }
  input[type="text"]::placeholder, input[type="date"]::placeholder {
    color: #E2E2E2; }

input[type="date"] {
  width: 60%;
  margin-right: 7px;
  text-indent: 5px; }

input[type="submit"] {
  height: 40px;
  width: calc(40% - 7px);
  background-color: #3879AB;
  border: 1px solid #82BDEA;
  color: #EBEDED;
  font-size: 20px;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px; }

ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden; }

h2 {
  background-color: #0D1929;
  width: 100%;
  height: 36px;
  color: #fff;
  font-size: 16px;
  text-align: left;
  padding: 0 0 0 11px;
  line-height: 36px;
  vertical-align: middle;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative; }

li {
  list-style: none;
  margin: 0 0 0 0;
  width: 100%;
  position: relative; }
  li.overdue .task_wrapper::before {
    content: '';
    z-index: 35;
    width: 3px;
    height: 100%;
    position: absolute;
    left: -12px;
    top: 0;
    background-color: #EC2C42;
    overflow: visible; }
  li .task_wrapper {
    width: calc(100% - 24px);
    margin: 0 0 0px 12px;
    padding-top: 12px;
    border-top: 1px solid #CACACA;
    height: 67px; }

li.header {
  min-height: 103px; }
  li.header .task_wrapper {
    border-top: none; }
    li.header .task_wrapper .drop_down {
      top: 0; }
      li.header .task_wrapper .drop_down .toggle_drop {
        border: none;
        border-top: none; }

li.edit {
  background-color: #EBEDED;
  margin: 0;
  padding-top: 0;
  height: 143px;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  width: 100%; }
  li.edit.header {
    height: 188px; }
  li.edit .task_wrapper {
    width: calc(100% - 24px);
    margin: 0 0 0px 12px;
    height: auto; }
  li.edit form {
    margin: 0 0 0 50px;
    width: 88%; }
    li.edit form input {
      padding-top: 3px;
      line-height: 14px;
      font-size: 14px;
      height: 30px;
      top: -6px;
      position: relative; }
  li.edit .drop_down {
    display: none; }
  li.edit + li {
    border-top: none; }

.task_wrapper {
  position: relative;
  width: 100%;
  height: 55px;
  padding: 0;
  transition: transform .25s ease-out; }

input[type="checkbox"] {
  position: absolute;
  left: -9999px; }

[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  line-height: 34px;
  padding-left: 50px;
  padding-top: 5px;
  z-index: 9;
  width: auto;
  font-size: 14px;
  color: #95989A; }

[type="checkbox"] + label:before {
  content: '';
  border: 1px solid #CACACA;
  position: absolute;
  top: 5px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 15;
  background-color: #fff; }

[type="checkbox"] + label:after {
  content: '';
  position: absolute;
  text-indent: 0;
  z-index: 20; }

[type="checkbox"]:not(:checked) + label:after {
  position: absolute;
  transform: rotate(20deg);
  width: 0px;
  height: 0px;
  top: 19px;
  left: 15px;
  border-left: 0px solid #2bce51;
  border-bottom: 0px solid #2bce51;
  transition: all 0.25s cubic-bezier(0.09, -0.75, 0.95, 1); }

[type="checkbox"]:checked + label:after {
  width: 24px;
  height: 9px;
  border-left: 3px solid #3879AB;
  border-bottom: 3px solid #3879AB;
  top: 7px;
  left: 7px;
  transform: rotate(-48deg);
  transition: all 0.35s cubic-bezier(0.09, 1.47, 0.95, 1.15); }

.drop_down {
  position: absolute;
  top: -1px;
  right: -132px;
  height: calc(100% + 1px);
  width: 120px;
  transition: width 1s ease-out;
  background-color: #CACACA;
  transition: transform .25s ease-out;
  border-top: 1px solid #CACACA; }
  .drop_down .toggle_drop {
    position: absolute;
    background-color: #fff;
    width: 25px;
    top: 0;
    left: -25px;
    border: none;
    height: 100%;
    outline: none;
    cursor: pointer;
    transition: background-color .25s ease; }
    .drop_down .toggle_drop::before {
      content: '';
      width: 4px;
      height: 36px;
      border-left: 4px #E2E2E2 dotted;
      background-color: transparent;
      position: absolute;
      top: 15px;
      left: 10px; }
  .drop_down .menu {
    height: 67px; }

.menuOpen .drop_down {
  z-index: 50;
  transform: translateX(-120px); }
  .menuOpen .drop_down .toggle_drop {
    border-top: 1px solid #CACACA;
    height: calc(100% + 1px);
    top: -1px; }

.menuOpen.header .drop_down .toggle_drop {
  border-top: none; }

.btn {
  height: 26px;
  background-color: #0D1929;
  border: 1px solid #2F4F90;
  color: #EBEDED;
  font-size: 12px;
  margin: 20px 0 0 13px; }
  .btn.delete {
    background-color: #EC2C42;
    border: 1px solid #F0838F;
    margin: 20px 0px 0px 10px; }

button {
  cursor: pointer;
  outline: none; }

.toggle {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #0D1929;
  bottom: 0;
  height: 40px;
  z-index: 90; }
  .toggle ~ .curtain {
    z-index: 89;
    bottom: 40px;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity .25s ease-out; }
  .toggle .foot_menu {
    z-index: 95;
    background-color: #EBEDED;
    width: 85%;
    left: 7.5%;
    margin: 0 auto;
    bottom: -137px;
    opacity: 0;
    position: absolute;
    transition-property: transform, opacity;
    transition-duration: .25s;
    transition-timing-function: ease; }
    .toggle .foot_menu::before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      bottom: -6px;
      transform: rotate(45deg);
      background-color: #EBEDED; }
    .toggle .foot_menu .foot_menu_header {
      background-color: #3879AB;
      height: 25px;
      line-height: 25px;
      margin: 0 0 10px 0;
      color: #fff; }
      .toggle .foot_menu .foot_menu_header p {
        text-indent: 10px;
        color: #fff;
        margin: 0;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 1px; }
        .toggle .foot_menu .foot_menu_header p button {
          color: #fff;
          float: right;
          text-transform: uppercase;
          font-size: 10px;
          letter-spacing: 1px;
          font-weight: 300;
          margin-right: 3px; }
    .toggle .foot_menu.toggle_menu::before {
      left: 12px; }
    .toggle .foot_menu.toggle_menu .foot_menu_header {
      background-color: #3879AB; }
    .toggle .foot_menu.clear_menu {
      text-align: center;
      padding-bottom: 20px; }
      .toggle .foot_menu.clear_menu::before {
        right: 12px; }
      .toggle .foot_menu.clear_menu .foot_menu_header {
        margin-bottom: 20px;
        background-color: #EC2C42; }
      .toggle .foot_menu.clear_menu button.clear {
        background-color: #EC2C42;
        border: 1px solid #F0838F;
        margin: 0;
        color: #fff;
        padding: 10px;
        font-size: 12px; }
    .toggle .foot_menu label {
      color: #0D1929;
      width: 85%;
      margin: 0 auto;
      display: block;
      padding: 0 0 0 20px; }
      .toggle .foot_menu label:before {
        width: 10px;
        height: 10px;
        top: 8px; }
      .toggle .foot_menu label:after {
        left: 2px;
        top: 6px;
        width: 12px;
        height: 4px; }

.toggle_footer {
  width: 100%;
  height: 40px;
  line-height: 40px; }
  .toggle_footer button {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    line-height: 40px;
    height: 40px;
    width: 50px;
    border: none;
    background-color: transparent; }
    .toggle_footer button.toggle_filter {
      float: left;
      margin-left: 10px; }
    .toggle_footer button.toggle_clear {
      float: right;
      margin-right: 10px;
      position: relative; }
      .toggle_footer button.toggle_clear::before {
        content: '';
        display: block;
        width: 30px;
        height: 4px;
        top: 0;
        left: 10px;
        border-top: 4px dotted #fff; }

/* ShowMenu */
.toggle.showMenu .toggle_menu {
  opacity: 1;
  transform: translateY(-178px); }

.toggle.showMenu ~ .curtain {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0; }

/* ShowClear */
.toggle.showClear .clear_menu {
  opacity: 1;
  transform: translateY(-178px); }

.toggle.showClear ~ .curtain {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0; }
